{warning}


{copyright}

import tgrambot
from typing import List, Union
from telegram_text.bases import Element
from tgrambot.types import (
    {imports}
)


class Methods:
    def __init__(self, bot: "tgrambot.Bot"):
        self._bot = bot

{content}