    async def {method_name}({fields}):
        """
        {comments}
        """
        payload = self._bot.generate_payload(**locals())
        files = {{}}
        {attachment}
        method = '{name}'
        url = self._bot.get_api_url(method)
        result = await self._bot.aio_post(url, payload, files)
        return {returns}

